			<div>
          <div class="msg my-msg row no-gutters">
            <div class="my-msg-content col-md-11">
              <div class="text-content"><p class="text-right msg-font"><%= @message.content %></p></div>
              <i class="time-right date"><%= @message.message_time %></i>
            </div>
            <div class="col-md-1">
               <img src="https://www.cbdloire.fr/wa_images/profil%20vide_1.png?v=1d0lgmf" alt="Avatar" class="right">
            </div>
          </div> 
      </div>