<html>
  <body>
    <!-- ... -->
         <%= form_tag url_for(action: 'create'), method: "post" do %>

         <%= label_tag 'Comment' %> </br>
          <%= text_area_tag 'content', @comment.content %></br>

          <%= submit_tag "Submit" %>

        <% end %>

  </body>
</html>