<h1>Page profil de l'utilusateur</h1>
<p>  Prenom :   <%= @user.first_name %></p>
<p>  Nom :   <%= @user.last_name %></p>
<p>  Email :  <%= @user.email %></p>
<p>
  <a href="<%= edit_user_registration_path %>">Modifier les profil d'enregistrement</a>
</p>
