// Place all the styles related to the abonnement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.abonner{
	background: url(car10.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.color{
	background:  #e0ebeb
;
}
.width{
	width: 18rem;
}
.width1{
	width: 25rem;
	left:25rem;
}
