// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Chat containers */
.msg {
  margin-bottom: 10px; 
  width: 60%;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.msg::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
img {
  max-width: 60px;
  width: 80%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}


.left{
  width: 35px;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.msg-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.date{
  font-size: 10px;
  margin: 0 10px;
}

#message-content{
  width: 60%;
  margin: 10px auto;
}

.text-content{
  padding: 0 40px;
}

.your-msg{
  float: left;
}

.my-msg-content{
  border: 2px solid #dedede;
  border-radius: 5px;
  background: #fec503;
}

.your-msg-content{
  border: 2px solid #dedede;
  border-radius: 5px;
  background: #FFF;
}

.my-msg{
  float: right;
}

.msg-menu{
  color: #fec503;
  padding: 10px;
  text-align: center;
}

.envoie{
  margin: 10px auto; 
}

.msg-foot{
  display: inline-block;
  margin-left: 20px;
}

.foot-container{
  width: 30%;
  margin: 10px auto;
}