// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 #services {
 	padding: 25px 10px 50px 10px;
}

#top{
	background: image-url("inscription.jpg");
	background-size: 100% 100%;
}


#work , #team{
	padding: 10px;
}

.header{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 420px;
	overflow: auto;
}

.header-fond{
	background: rgba(10, 10, 10, 0.89);
}

#abonnement{
	padding:25px 50px 0 50px;
}

#nous{
	padding-top: 10px;
	padding-bottom: 5px;
}

.text-s{
	color: #fec503;
	font-weigth: bold;
	font-size: 18px;
}

.section-position{
	position: relative;
}

.img-w{
	height: 250px;
}
.text-abot{
	text-align: left;
}
.image-count{
	position: absolute;
	opacity: 0;
}

.plus{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fec503;
	width: 100%;
	text-align: center;
}

.chercher{
	margin-top: 10px;
}