 <!-- Footer -->
<footer class="footer bg-dark" id="footer">
  <div class="form-group" id="search-form">
    <%= form_tag(search_car_path, :method => "get", class: 'form-inline my-2 my-lg-0') do %>
      <%= search_field_tag :search_model, nil, placeholder: "Nom d'une marque", class: "form-control mr-sm-2" %><br>
      <%= button_tag "Recherche", class:"btn btn-primary text-dark" %>
    <% end %>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Madafullcar 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/FullcarMada" target="_blanks">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/MadafullcarOfficiel" target="_blanks">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/madafullcar7" target="_blanks">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="https://www.freeprivacypolicy.com/privacy/view/819ebcea78173f2c42d79edffc4d35d9">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
	</div>
</footer>